# =========================
# Dataset
# Ignore everything in data/
# but keep the folder itself with a placeholder
# =========================
data/*
!data/.gitkeep

# =========================
# Ignore pycache
# =========================
__pycache__/
*.pyc

# =========================
# Ignore test.py
# =========================
test.py
visualization.py

# =========================
# Ignore output files
# =========================
outputs/*